{% extends "base.html" %}

{% block title %}Basics of Python{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h1 class="h2 mb-4">Basics of Python</h1>
        <p>Welcome to the Python Basics tutorial! Here you will learn the essentials of Python programming, including:</p>
        <ul>
            <li>Variables and Data Types</li>
            <li>Control Structures (if statements, loops)</li>
            <li>Functions</li>
            <li>Basic Data Structures (lists, dictionaries)</li>
        </ul>
        <p>Start practicing these concepts and build a strong foundation in Python!</p>
    </div>
</div>
{% endblock %}
